<%- include('./header') %>
 <!-- Profile Card -->
    <section class="profile-card">
      <div class="profile-info">
        <h2><%= user.username %></h2>
        <p><%= user.email %></p>
        <div class="form-group">
        <label for="bio_text">About Me</label>
        <text id="bio_text" name="bio" rows="4"><%= user.bio || '' %></text>
      </div>
        </form>
      </div>
    </section>
    <section class="projects">
      <h3>Works</h3>
      <div class="project-grid">
        <% if (works && works.length > 0) { %>
          <% works.forEach(work => { %>
    <%- include('WorkDisplay', { work: work, showDeleteButton: false }) %>
<% }) %>
        <% } else { %>
          <p class="no-projects">You haven’t uploaded anything yet.</p>
        <% } %>
      </div>
    </section>
<script src="/Interaction/likes.js"></script>
<%- include('./footer') %>